body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #666666;
	color: #4E4E4E;
	font-size: 9pt;
}
a {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	background-color: transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a:hover {
	color: #000000;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.foot
{
	padding: 5px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #346f83;
}

tr.even td
{
	background-color: #EAEAEA;
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3a3c52;
}
tr.odd td
{
	background-color: #EAEAEA;
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3a3c52;
	font-size: 10px;
}
.even
{
	background-color: #CCCCCC;
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3a3c52;
	border: 1px solid #333333;
}
.odd
{
	background-color: #EAEAEA;
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3a3c52;
	border: 1px solid #333333;
}
h1,h2,h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

input.formButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.item {
	border: thin none #FFFFFF;
	height: auto;
	width: auto;
	background-color: #FFFFFF;
}
.itemHead {
	padding: 3px;
	background-color: #3f4a59;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: auto;
	text-align: left;
}
.itemInfo {
	text-align: right;
	padding: 3px;
	background-color: #CCCCCC;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.itemInfo a {
	text-align: right;
	padding: 3px;
	background-color: #CCCCCC;
	color: #346f83;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.itemInfo a:hover {
	text-align: right;
	padding: 3px;
	background-color: #CCCCCC;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.itemTitle a {
	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	background-color: #3f4a59;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.itemTitle a:hover {
	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
	color: #ffffff;
	background-color: transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.itemPoster {
	font-size: 9px;
	font-style:italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
.itemPostDate {
	font-size: 9px;
	font-style:italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.itemStats {
	font-size: 10px;
	font-style:italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.itemBody {
	padding-left: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #FFFFFF;
	background-color: #FFFFFF;
}
.itemText {
	color: #000000;
	background-color: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: normal;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: normal;
	font-variant: normal;
}
.itemText:first-letter {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFF00;
}
.itemFoot {
	text-align: right;
	padding: 3px;
	background-color: #CCCCCC;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.itemFoot a {
	text-align: right;
	padding: 3px;
	background-color: #CCCCCC;
	color: #324A85;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.itemFoot a:hover {
	text-align: right;
	padding: 3px;
	background-color: #CCCCCC;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.itemAdminLink {
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
.itemPermaLink {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}
#mainmenu a {
	display: block;
	color: #FFFFFF;
	font-weight: normal;
	text-transform: lowercase;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-variant: normal;
	background-color: #999999;
	width: 164px;
	text-align: left;
	vertical-align: 100%;
	font-style: normal;
	background-position: left top;
	position: static;
	top: auto;
	clip: rect(auto,auto,auto,auto);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	text-decoration: none;
}
#mainmenu a:hover {
	text-decoration: underline;
	color: #FFFFFF;
	background-color: #3f4a59;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #3f4a59;
}
#mainmenu a.menuTop {
	padding-left: 10px;
}
#mainmenu a.menuMain {
	padding-left: 10px;
}
#mainmenu a.menuSub {
	padding-left: 10px;
}
td#leftcolum {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: left;
	height: auto;
	width: 155px;
	border: thin dashed #00FF00;
	color: #E8E8E8;
	background-color: #336699;
}
td#leftcolumn th {
	color: #FFFFFF;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: auto;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	text-align: center;
	background-color: #336699;
}
td#leftcolumn div.blockTitle {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 185px;
	background-position: left 2px;
	text-align: center;
	height: auto;
	font-style: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #336699;
	background-image: url(pictures/backleft.jpg);
	background-repeat: no-repeat;
	padding: 3px;
	vertical-align: top;
}
td#leftcolumn div.blockContent {
	color: #333333;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 167px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	margin: 2px;
}
th#centercolumn th {
	background-color: transparent;
	color: #FFFFFF;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 50%;
}
th#centercolumn div.blockTitle {
	padding: 3px;
	background-color: #000033;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
}
th#centercolumn div.blockContent {
	color: #333333;
	padding: 1px;
	font-size: x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	text-align: left;
	background-position: left top;
	vertical-align: top;
	font-weight: normal;
	text-decoration: none;
}
table td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: inherit;
}
td#usermenu a {
	background-color: #FFFFFF;
	color: #000000;
	display: block;
	margin: 0;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	width: 180px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-position: left top;
	text-align: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #346f83;
}
td#usermenu a:hover {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
td#usermenu a.menuTop {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
}
td#usermenu a.highlight {background-color: #FFFF00;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2F5376; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}
.clock {
	font-weight: lighter;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
td#headmenu a
{
	background-color: #3a3c52;
	color: #FFFFFF;
	font-size: 12px;
	display: block;
	padding: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
td#headmenu a:hover
{
	background-color: #F1CD83;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
td#headmenu a.menuHead
{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.white
{
	color:#000066;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: left;
	font-weight: bold;
}
.white a
{
	color:#346f83;
	text-decoration:underline;
}
.clock {
	font-weight: lighter;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.menubottom a {
	font-weight: bold;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.menubottom a:hover {
	font-weight: bold;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFCC33;
	text-decoration: underline;
}
.white2
{
	color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: left;
	font-weight: bold;
}
.white2 a
{
	color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: left;
	font-weight: bold;
}
.white2 a:hover
{
	color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: left;
	font-weight: bold;
}
.sitename
{
	color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	text-transform: capitalize;
}
#centerLcolumn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: top;
	text-align: left;
	height: 100%;
	width: 100%;
	color: #E8E8E8;
	background-color: #FFFFFF;
	position: static;
}
th#centerLcolumn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: top;
	text-align: left;
	height: 100%;
	width: 100%;
	color: #E8E8E8;
	background-color: #FFFFFF;
	position: static;
}
th#centerLcolumn th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: top;
	text-align: left;
	height: 100%;
	width: 100%;
	color: #E8E8E8;
	background-color: #FFFFFF;
	position: static;
}
th#centerLcolumn div.blockTitle {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	background-position: left top;
	text-align: center;
	height: auto;
	font-style: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #000000;
	background-repeat: no-repeat;
	padding: 3px;
	vertical-align: top;
}
th#centerLcolumn div.blockContent {
	color: #333333;
	vertical-align: top;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	text-align: left;
	vertical-align: top;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	height: 100%;
}
th#centerRcolumn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: top;
	text-align: left;
	height: 100%;
	width: 100%;
	color: #333333;
	background-color: #FFFFFF;
	position: static;
}
th#centerRcolumn th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: top;
	text-align: left;
	height: 100%;
	width: 100%;
	color: #E8E8E8;
	background-color: #FFFFFF;
	position: static;
}
th#centerRcolumn div.blockTitle {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	background-position: left top;
	text-align: center;
	height: auto;
	font-style: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #000000;
	background-repeat: no-repeat;
	padding: 3px;
	vertical-align: top;
}
th#centerRcolumn div.blockContent {
	color: #333333;
	vertical-align: top;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	text-align: left;
	vertical-align: top;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	height: 100%;
}