BODY {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
P {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial, Verdana; TEXT-ALIGN: justify
}
A {
	FONT-FAMILY: Arial,Tahoma, Helvetica
}
A:link {
	COLOR: #3366cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #3366cc; TEXT-DECORATION: none
}
A:hover {
	COLOR: #3399ff; TEXT-DECORATION: underline
}
A.off {
	FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-FAMILY: Verdana
}
A.off:link {
	COLOR: #003399; TEXT-DECORATION: none
}
A.off:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
A.off:hover {
	COLOR: #6699ff; TEXT-DECORATION: none
}
A.mainp {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial
}
A.mainp:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.mainp:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.mainp:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.opt {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Tahoma,  Helvetica
}
A.opt:link {
	COLOR: #336699; TEXT-DECORATION: none
}
A.opt:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A.opt:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.stmt {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Tahoma
}
A.stmt:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.stmt:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.stmt:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
A.odr {
	FONT-WEIGHT: bold; COLOR: #003399; FONT-FAMILY: Arial, Tahoma
}
A.odr:link {
	COLOR: #003399; TEXT-DECORATION: none
}
A.odr:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
A.odr:hover {
	COLOR: #3366cc; TEXT-DECORATION: underline
}
.line {
	COLOR: #ffffff; BACKGROUND-COLOR: #becfe6
}
.off_ {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #336699
}
.on {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #caddef; font-weights: bold
}
.tdleft {
	BACKGROUND-COLOR: #e8eef8
}
.boxline1 {
	BACKGROUND-COLOR: #b7d5fe
}
.ftr {
	FONT-SIZE: 9pt; COLOR: #336699; FONT-FAMILY: Tahoma, Verdana, Arial
}
.price {
	FONT-SIZE: 8pt; COLOR: #3366cc; FONT-FAMILY: Arial
}
.ptitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #3366cc; FONT-FAMILY: Arial
}
.stitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #3366cc; FONT-FAMILY: Arial
}
.ftr2 {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Verdana, Arial
}
.wlcome {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: tahoma,arial
}
.member {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/fade.gif); COLOR: #336699; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial
}
TD {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial,Verdana Helvetica
}
TR {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial,Verdana Helvetica
}
TABLE {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial,Verdana Helvetica
}
TEXTAREA {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial,Verdana Helvetica
}
SELECT {
	FONT-SIZE: 8pt; BACKGROUND: #e0eafe; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica
}
INPUT {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica
}
H5 {
	COLOR: #336699
}
A.ftr {
	FONT-SIZE: 7.5pt; FONT-FAMILY: Verdana,Arial
}
A.ftr:link {
	
}
A.ftr:visited {
	
}
A.ftr:hover {
	
}
.svc {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Verdana,Arial
}
.ftr {
	FONT-SIZE: 7.5pt; FONT-FAMILY: Verdana,Arial
}
.curpg {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial,Verdana; BACKGROUND-COLOR: #cccccc
}
.pbg {
	BACKGROUND-COLOR: #ffffff
}
.apbg {
	BACKGROUND-COLOR: #e79494
}
.pitm {
	BACKGROUND-COLOR: #eef6fe
}
.pdt {
	BACKGROUND-COLOR: #ffffff
}
.pbt {
	BACKGROUND-COLOR: #dddddd
}
.pttl {
	COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
.strd {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; BACKGROUND-COLOR: #8bb8e5
}
.iedit {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Courier
}
.flt {
	BORDER-RIGHT: #ffcc99 1px solid; BORDER-TOP: #ffcc99 1px solid; BORDER-LEFT: #ffcc99 1px solid; BORDER-BOTTOM: #ffcc99 1px solid; BACKGROUND-COLOR: #fefef4
}
.odr {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Tahoma,Arial,Verdana
}